.wrap {
}
.application-form {

		// .application-form__text

		&__text {
		}

		// .application-form__about-name

		&__about-name {
		}

		// .application-form__input

		&__input {
		}

		// .application-form__about-contact

		&__about-contact {
		}

		// .application-form__comments

		&__comments {
		}

		// .application-form__button

		&__button {
		}
}
.our {

		// .our_history

		&_history {
            text-align: center;
            font-size: 16px;
		}
}
.our_history {

		// .our_history__title

		&__title span {
            color: orangered;
        
		}

		// .our_history__text

		&__text {
		}
}

